RewriteEngine On
RewriteRule ^$ index.php

RewriteRule ^dang-ki$ register.php
RewriteRule ^dang-nhap$ login.php

RewriteRule ^([0-9]+)-([a-zA-Z0-9_-]+)$ loaitin.php?id=$1&alias=$2


RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)-([a-zA-Z0-9_-]+).html$ chitiettin.php?alias_loaitin=$1&id=$2&alias=$3
